@model Projet2.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Regler Panier";
}


<section class=" gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-10 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-3 text-center">
                        <div>
                            <div id="content">
                                <div class="notify successbox">
                                    <h1>Commande Finalisée</h1><br />
                                    <span class="alerticon"><img src="https://i0.wp.com/objectifalpinisme.com/wp-content/uploads/2021/02/pngegg.png?w=750&ssl=1" alt="checkmark" style=" max-height: 50px" /></span><br />
                                </div>

                                <div id="Box">
                                    <hr />
                                    <div class="row">

                                        <div class="col-6">
                                            N° de Commande :
                                        </div>

                                        <div class="col-6">
                                            @Model.LignePanierSaisonnier.Id
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">

                                        <div class="col-6">
                                            Montant de la Transaction :
                                        </div>

                                        <div class="col-6">
                                            € @Decimal.Round(Model.LignePanierSaisonnier.SousTotal, 2)
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">

                                        <div class="col-6">
                                            Nombre de semaines de Paniers Saisonniers :
                                        </div>

                                        <div class="col-6">
                                            @Model.LignePanierSaisonnier.DureeAbonnement Semaines
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">

                                        <div class="col-6">
                                            Date de Première Livraison :
                                        </div>

                                        <div class="col-6">
                                            @Model.ProchaineDateLivraison
                                        </div>
                                    </div>
                                    <hr />

                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


