* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/**, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}*/


.hnav {
    background-color: white;
    /*padding: 4rem;*/
    font-weight: 600;
    font-size: large;
/*    position: fixed;*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.logo {
    position: relative;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

/*Logo nave*/
.navbar-brand {
     padding-top: 0;
 }

i {
    font-size: 1.5rem;
    color: #68b430;
}

.acustom {
    color: #68b430;
}

a.nav-link.acustom:hover {
    color: black;
}

.logincustom {
    /*border: 0;
    background: #68b430;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-right: 0.5em;*/
}

.btn-outline-dark {
    border: 0;
}

.afternav {
   /* margin-top: 10rem;*/
}

/* Carousel*/
.carouselcustom {
    /*margin-top: 10rem;*/
    padding-left: 0;
    padding-right: 0;
}

.custompart {
    display: flex;
    /*overflow: hidden;*/
    justify-content: center;
    text-align: center;
    align-items: center;
}

.rejoindrecustom {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #efefef;
    width: 100%;
    padding: 1.5rem 1.5rem 0;
}

    .rejoindrecustom > article {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        /*padding: 30px;*/
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    background: #fff;
    border-radius: 1rem;
}

        .rejoindrecustom > article > div:first-of-type {
            flex: 0 0 60%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            justify-content: space-evenly;
            text-align: center;
            order: 2;
        }



    .rejoindretext {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    align-items: center;
    order: 1;
}

.titrecustom {
    font-weight: 600;
    font-size: 2rem;
    color: #68b430;
    margin: 3rem auto;
    line-height: 1.1em;
}
.yes {
    font-weight: 600;
    font-size: larger;
}

.custombtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: large;
    width: 13rem;
    min-height: 3rem;
    border-radius: 1.5rem;
    color: #fff;
    background-color: #F4941E;
}
    .custombtn:hover {
        background-color: black;
        color: white;
    }

/* Activite*/
.banactcustom {
    min-height: 100vh;
    background-image: url(../Images/activite1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.footercustom {
    
    /*height: 100px;*/
    background-color: #000000;
}


/*.maincustom {
    background-color: aqua;
}*/