@import url('https://font.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



#coupe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navcontainer {
    width: fit-content;
}

#test{
    color:aquamarine;
}

#producteurs{
    justify-content: center;
}

.container-cardscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container-cardcontainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cardcontainer .card {
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    backdrop-filter:blur(10px);
    background: linear-gradient(45deg, #1a2f3f, #1a3f28);
}

.container-cardcontainer .card img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 500px;
    transition: 0.5s;
}
.container-cardcontainer .card:hover img {
    left: 73%;
    height: 400px;
}

.container-cardcontainer .card .contentleft {
    position: relative;
    width: 50%;
    left: -100%;
    padding: 20px, 20px, 20px, 40px;
    transition: 0.5s;
}
.container-cardcontainer .card:hover .contentleft {
    left: -20%;
}
.container-cardcontainer .card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size:2.2em;
}
.container-cardcontainer .card .contentright {
    position: relative;
    width: 50%;
    left: 200%;
    padding: 20px, 20px, 20px, 40px;
    transition: 0.5s;
}
.container-cardcontainer .card:hover .contentright {
    left: -20%;
}
.container-cardcontainer .card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size:2.2em;
}
.container-cardcontainer .card .contentleft p {
    color: #fff;
}

.container-cardcontainer .card .contentleft a {
    color: #111;
    background: #fff;
    display:inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration:none;
    font-weight: 700;
}
.container-cardcontainer .card .contentright p {
    color: #fff;
}

.container-cardcontainer .card .contentright a {
    color: #111;
    background: #fff;
    display:inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration:none;
    font-weight: 700;
}
.payment-info {
    background: blue;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold
}
.product-details {
    padding: 10px
}

body {
    background: #eee
}

.cart {
    background: #fff
}

.p-about {
    font-size: 12px
}

.table-shadow {
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
    box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42)
}

.type {
    font-weight: 400;
    font-size: 10px
}

label.radio {
    cursor: pointer
}

label.radio input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none
}

label.radio span {
        padding: 1px 12px;
        border: 2px solid #ada9a9;
        display: inline-block;
        color: #8f37aa;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 300
}

label.radio input:checked + span {
        border-color: #fff;
        background-color: blue;
        color: #fff
}

.credit-inputs {
    background: rgb(102, 102, 221);
    color: #fff !important;
    border-color: rgb(102, 102, 221)
}

.credit-inputs::placeholder {
        color: #fff;
        font-size: 13px
}

.credit-card-label {
    font-size: 9px;
    font-weight: 300
}

.form-control.credit-inputs:focus {
    background: rgb(102, 102, 221);
    border: rgb(102, 102, 221)
}

.line {
    border-bottom: 1px solid rgb(102, 102, 221)
}

.information span {
    font-size: 12px;
    font-weight: 500
}

.information {
    margin-bottom: 5px
}

.items {
    -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08)
}

.spec {
    font-size: 11px
}


/* CSS LOGIN & FORMULAIRES COMPTES*/
.signupLayout
{
    position: relative;
    background: #557085;
    min-height: 1200px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 80px;
    transition: 0.5s;
}

.signupLayout .container {
    position: relative;
    width: 80%;
    min-height: 800px;
    max-height: 1357px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
}

section .container .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: #fff;
}

section .container .user .imgBx 
{
    position: relative;
    width: 50%;
    height: 100%;
    transition: 0.5s;
}

section  .container .user .imgBx img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section  .container .user .formBx 
{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 40px; 
    transition: 0.5s;

}

section  .container .user .formBx h2 
{
    font-size: 18px; 
    font-weight: 600; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-align: left;
    width: 100%; 
    margin-bottom: 5px; 
    margin-top: 10px; 
    margin-left: 20px; 
    color: #555;
}

section  .container .user .formBx input 
{
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333; 
    border: none; 
    outline: none; 
    box-shadow: none; 
    font-size: 14px; 
    margin: 8px 0; 
    letter-spacing: 1px;
    font-weight: 300;
}

section  .container .user .formBx label 
{
    width: 100%;
    padding: 20px;
    color: #333; 
    border: none; 
    font-size: 14px; 
    margin: 8px 0; 
    letter-spacing: 1px;
    font-weight: 600; 
}

section  .container .user .formBx input[type="submit"]
{
    max-width: 170px; 
    background: #677eff; 
    color: #fff; 
    cursor: pointer; 
    font-size: 14px; 
    font-weight: 500; 
    letter-spacing: 1px; 
    transition: 0.5s;
    align-items: center;
    position: center;
}

section  .container .user.signupBx .formBx input[type="submit"] 
{
    background: #e73e49;    
}

section  .container .user .formBx .signup 
{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    background: #fff;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
    
}

section  .container .user .formBx .signup a{
    font-weight: 600; 
    text-decoration: none; 
    color: #577eff;
}


section .container .user .formBx .signup a.oubli {
    color: #e73e49;
}


section  .container .signupBx 
{
    pointer-events: initial;
    min-height: 1080px;
    background: #fff;
    z-index: 1;
}

.signupLayout .tabs {
    z-index: 2;
    position: relative;
    background: #fff;
    width: 50%;
    justify-content: center;
}


.signupLayout .tabs .nav-item {
    display: inline-block;
    width: 200px;
        
}

.signupLayout .tabs .nav-link {
    justify-content: center;
    display: flex;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    background: #fff;
    color: #577eff;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.8s;
}

.signupLayout .tabs .nav-link.chosen {
    color: #e73e49;
}

section  .container .signupBx .formBx {
    pointer-events: initial;
    align-items: flex-start;
    overflow: auto;
    background: #fff;
    
}



.containers {
    transform-style: preserve-3d;
}

.containers .box {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.containers .box .body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}

.containers .box .body .imgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.containers .box .body .imgContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containers .box .body .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.containers .box:hover .body {
    transform: rotateY(180deg);
}

.containers .box .body .content div {
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #FE0061, #FFEB3B);
    transform: translateZ(100px);
}

.containers .box .body .content div h3 {
    letter-spacing: 1px;
}


@media (max-width: 991px)
{
    section .form .container {
        max-width: 400px;
    }

    section .container .imgBx {
        display: none;
    }
    section .container .user .formBx 
    {
        width: 100%;
    }
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 250px; /* Location of the box */
    left: 500px;
    top: 0;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modalButton {
    max-width: 170px;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
    align-items: center;
    position: center;
}
    .modalButton:hover,
    .modalButton:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
