@model Projet2.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Boutique";
}

<div class="shadow-sm p-2 mb-5 welcome">
    <h2>Bienvenue dans notre boutique en ligne</h2>
</div>

<!-- Products -->
<div class="container">

    <div class="row">
        <div class="col-md-2 menu-rigth">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-4 g-5">
                @foreach (Projet2.Models.Boutique.Article article in @Model.Boutiques.Articles as List<Projet2.Models.Boutique.Article>)
                {
                    <div class="col ">
                        <div class="card h-100">
                            <img src="~/Images/pommes.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@article.Nom</h5>
                                <p class="card-text">@article.Description</p>
                                @Html.ActionLink("Voir article", "Article", "Boutique", new { @Id = article.Id })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>