@model Projet2.ViewModels.HomeViewModel

@{
}

    <div class=" container">
        <div class="col-7">
            <div class="row">
                <img src="~/Images/pommes.jpg" />
            </div>
            <div class="row">
                @Model.Article.Nom

            </div>
        </div>
        <div class="col-5">

        </div>
    </div>
  