@model Projet2.ViewModels.HomeViewModel

@{
}

    <div class=" container">
        <div class="col-7">
            <div class="row">
                <img src="~/Images/pommes.jpg" />
            </div>
            <div class="row">
                @Model.Article.Nom

            </div>
        </div>
        <form method="post">
            <div class="col-5">
                <div class="col">
                    <label for="prix" class="col-sm-2 col-form-label">Prix</label>
                    <input id="prix" type="number" class="form-control" name="id">
                </div>
                <div class="col">
                    <label for="stock" class="col-sm-2 col-form-label">Stock</label>
                    <input id="stock" type="number" class="form-control" name="Quantite">
                </div>
                <div class="col-12">
                    <button type="submit">ajouter Panier</button>
                </div>
            </div>
        </form>
    </div>
  