@model Projet2.Models.Boutique.PanierBoutique


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="container">

    @foreach (Projet2.Models.Boutique.LignePanierBoutique ligne in Model.LignePanierBoutiques)
    {


        <p> @ligne.Article.Nom</p>
        <p>@ligne.Article.PrixTTC.</p>
        <p>@ligne.Quantite</p>
        <p>@ligne.SousTotal</p>

    }
</div>
