@model Projet2.ViewModels.HomeViewModel

    <section class="signupLayout">
        <div class="container">
            <div class="user signinBx">
                <div class="imgBx"><img src="~/ImageArticle/pommes.jpg"></div>
                <div class="formBx">
                    <form enctype="multipart/form-data" method="post" asp-controller="CompteAdP" asp-action="AjouterImage">
                        <h2>Choisissez une image</h2>
                        <table width=100%>
                            @Html.HiddenFor(m => Model.AdP.Id)
                                <tr>
                                  <th class="signup"><input name="FileToUpload" type="file" value="browse" />
                                 </th>
                                </tr>                                                              
                                <tr align="center">
                                  <th class="signup"><input type="submit" value="Ajouter" /></th>
                                </tr>
                                <tr align="center">
                                  <th class="signup"><a asp-area="" asp-controller="CompteAdP" asp-action="Index">Retour</a></th>
                                </tr>
                                                             
                        </table>               
                    </form>
                </div>
            </div>
        </div>
    </section>
