@model Projet2.ViewModels.HomeViewModel

@{
    
}
<div class="container">
    <form enctype="multipart/form-data" method="post" asp-controller="CompteAdP" asp-action="AjouterImage">
        <fieldset>
            <h2> Image </h2>
            @Html.HiddenFor(m => Model.AdP.Id)
            <input name="FileToUpload" type="file" value="browse" />
        </fieldset>
        <br />
        <input type="submit" value="Ajouter l'image'" />
    </form>
    <br /><br />
    <div>
        @Html.ActionLink("Retour sur le Compte", "Index", "CompteAdP", @Model.AdP)
    </div>
</div>