@model Projet2.ViewModels.HomeViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<section>
    <div>
        <h1>
            Désolé
        </h1>
        <h2>
            Il semblerait que l'article @Model.Article.Nom ne soit plus disponible dans les quantités que vous désirez
        </h2>
    </div>


</section>