@model Projet2.ViewModels.HomeViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Creation Compte</title>
</head>
<body>

    Votre Compte A bien été supprimé. 
    <br/>
    @Html.ActionLink("Retour sur la page principale", "Index", "Home")


</body>
