@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid d-flex align-items-center justify-content-center flex-wrap banactcustom">
    @*<i class="fas fa-tractor p-2" ></i>
    <i class="fas fa-tractor p-2" ></i>
    <i class="fas fa-tractor p-2"></i>*@
    <div class="titrecustom text-white"> En cours de construction, disponible prochainement... :) </div>

</div>