@{
    ViewData["Title"] = "Home Page";
}
<!--<div class="item-active" style="background-image: url('./Images/fond.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
    -->
<div class="container p-50 ">

    <div class="text-center shadow-lg p-3 mb-5 bg-body rounded">
        <h1 class="display-4">Bienvenue sur AMAPorte</h1>
        <p>Pour un commerce biologique accessible</p>
    </div>

</div>



    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner shadow-lg bg-body rounded">
   
            <div class="carousel-item active z-depth-4 flex-center" style="height: 700px">
                <img src="./Images/mer.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Des produits de la mer</h5>
                    <p>Au plus proche de la production aquacole.</p>
                </div>
            </div>
            <div class="carousel-item" style="height: 700px">
                <img src="./Images/pommes.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Des produits maraichers</h5>
                    <p>Issus de la production locale</p>
                </div>
            </div>
            <div class="carousel-item" style="height: 700px">
                <img src="./Images/onion.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Troisième label</h5>
                    <p></p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


<div class="container-fluid" style=" height: 50px;">
</div>

<div class="item-active" style="background-image: url('./Images/tracteur.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">

    <div class="container-fluid" style=" height: 400px;">
    </div>
</div>

<div class="container-fluid" style=" height: 600px;">
    <h2>Nos valeurs </h2>
    <ul>
    </ul>
</div>
<div class="item-active" style="background-image: url('./Images/fond.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">

    <div class="container-fluid" style=" height: 400px;">
    </div>
</div>
<div class="container-fluid">
    <div>Nos </div>

    <div class="container-fluid" style=" height: 600px;">
        <div class="hero-image " style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Images/colza.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; height: 100%;">
            <div class="hero-text" style="text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;">
                <h1>I am John Doe</h1>
                <p>And I'm a Photographer</p>
                <button>Hire me</button>
            </div>
            <div class="hero-text" style="text-align: center; position: absolute; top: 70%; left: 70%; transform: translate(-50%, -50%); color: white;">
                <a asp-area="" asp-page="/Producteur">Producteurs</a>
            </div>
        </div>
    </div>

</div>
<div class="item-active" style="background-image: url('./Images/fond.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">

    <div class="container-fluid" style=" height: 400px;">
    </div>
</div>
<div class="container pt-20 pb-200">
    <div class="row">
        <div class="col-md-5">
            <h2>Rejoignez nous (je veux m'inscrire) </h2>
        </div>
        <div class="col-md-7">
        </div>
        </div>
</div>
<div class="item-active" style="background-image: url('./Images/fond.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">

    <div class="container-fluid" style=" height: 400px;">
    </div>
</div>
<div class="container">
    <h2>Boutique</h2>
    <ul>
    </ul>
</div>

<!-- </div> -->
