@model Projet2.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<!--<div class="item-active" style="background-image: url('./Images/fond.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
    -->

<div class="container-fluid mt-5">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="width:fit-content">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner shadow-lg bg-body ">

            <div class="carousel-item active z-depth-4 flex-center" style="height: 200px">
                <img src="./Images/mer.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Des produits de la mer</h5>
                    <p>Au plus proche de la production aquacole.</p>
                </div>
            </div>
            <div class="carousel-item" style="height: 200px">
                <img src="./Images/pommes.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Des produits maraichers</h5>
                    <p>Issus de la production locale</p>
                </div>
            </div>
            <div class="carousel-item" style="height: 200px">
                <img src="./Images/onion.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container mt-5">

    <div class="text-center shadow-md p-4 mb-5 bg-white rounded" style="color: #F4941E">

        <h1 class="" style="font-weight: 600; font-size: 3rem; color: #F4941E;">Bienvenue sur AMAPorte</h1>
        <p class="yes">Pour un commerce biologique accessible</p>
    </div>

</div>

<div class="container-fluid">

    <section class="light">
        <div class="container py-3">
            <div class="titrecustom text-center">Nos valeurs</div>
            <section id="gallery">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mb-4 text-center">
                            <div class="card h-100 border-0 " style="border-radius:1rem">
                                <img src="/Images/equity.jpg" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title py-2" style="color: #68b430">Equité & Transparence </h5>
                                    <p class="card-text">Un partenariat équitable entre producteurs et consommateurs basé sur la confiance. La transparence dans les actes d’achat, de production, de transformation et de vente des produits agricoles</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4 text-center">
                            <div class="card h-100 border-0 " style="border-radius:1rem">
                                <img src="/Images/join2.jpg" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title py-2" style="color: #68b430">Proximité</h5>
                                    <p class="card-text">Un commerce de proximité en vente directe, à travers la relocalisation de l’économie par un soutien à l’agriculture paysanne, la relation directe entre les producteurs et les consommateurs, circuits courts. La traçabilité des aliments et la réduction des transports</p>
                               
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4 text-center">
                            <div class="card h-100 border-0" style="border-radius:1rem">
                                <img src="/Images/conv.jpg" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title py-2" style="color: #68b430">Solidarité & Convivialité</h5>
                                    <p class="card-text mb-2">Solidarité économique et financière avec les producteurs, solidarité entre consommateurs.convivialité dans les échanges, au travers des liens directs entre producteurs et consommateurs, l’implication dans le fonctionnement d’AMAPorte, la participation à nos différentes activités</p>
                              
                                </div>
                            </div>
                        </div>
                       
                    
                        <div class="col-lg-4 mb-4 text-center">
                            <div class="card h-100 border-0" style="border-radius:1rem">
                                <img src="/Images/eco.jpg" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title py-2" style="color: #68b430">Qualité et Ecologie</h5>
                                    <p class="card-text mb-2">Une agriculture paysanne, socialement équitable et écologiquement saine : pas de pesticides ni engrais chimiques de synthèse</p>
                           
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
            </section>
        </div>
        </section>
        </div>

<div class=" container-fluid py-3 mb-3">
    <section class="light rejoindrecustom">
        <article>
            <div>
                <img src="/Images/prod.jpg" alt="" style="border-radius: 0 1rem 1rem 0;">
            </div>
            <div class="rejoindretext">
                <div class="titrecustom">Nos producteurs</div>
                <div class=" px-3 mb-3 " style="font-style:italic">Implantés à Saint Pol de Léon, nous sommes producteurs de légumes biologiques depuis <strong>1996</strong>. 
                Toute notre histoire réside en une volonté d'un avenir meilleur dans nos assiettes et aussi pour nos papilles</div>
               
                <a class="custombtn mt-4" asp-area="" asp-controller="Home" asp-action="Producteurs">En savoir plus </a>
            </div>

        </article>
    </section>
</div>

        @*<div class=" container-fluid py-3">
            <section class="">
                <div class="container d-flex align-items-center justify-content-center flex-wrap py-3">
                    <div class="titrecustom">Nos producteurs en vedette</div>*@

                    @*@foreach (Projet2.Models.Compte.AdP adp in Model.ListeComptesAdP)
                    {
           
                        <div class=" container-fluid adpcustom">
                            <section class="rejoindrecustom">
                                <article>
                                    <div>
                                        <img src="~/ImageProfils/@adp.Image" alt="" style="border-radius: 0 1rem 1rem 0;">
                                    </div>
                                    <div class="rejoindretext">
                                        <div class="yes">@adp.NomProducteur</div>
                                        <p>@adp.Description</p>
                                        <a class="custombtn mt-4" asp-controller="" asp-action="">Découvrir</a>
                                    </div>

                                </article>
                            </section>
                        </div>
                    }*@

                @*</div>
                </section>
        </div>*@



        <div class=" container-fluid custompart mb-4">
            <section class="">
                <div class="container py-3 bg-white" style="border-radius: 1rem;">
                    <div class="titrecustom">Notre Boutique en ligne</div>

                    <p class="yes ">Des produits de qualités, finement selectionnés par nos soins pour votre plus grand plaisir</p>

                    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3 px-5">
                        <div class="col">
                            <div class="card h-100">
                                <img src="/Images/conserve.jpg" class="card-img-top" alt="..." style=" position: relative; height: 250px; width: 100%; object-fit: cover;"">
                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100" >
                                <img src="/Images/conf.jpg" class="card-img-top" alt="..." style=" position: relative; height: 250px; width: 100%; object-fit: cover;">
                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100" >
                                <img src="/Images/honey.jpg" class="card-img-top" alt="..." style=" position: relative; height: 250px; width: 100%; object-fit: cover;">
                                
                            </div>
                        </div>
                    </div>

                    <a class="custombtn my-4" asp-controller="Boutique" asp-action="AfficherBoutique">Découvrir</a>
                </div>
                    </section>
            </div>

        <div class=" container-fluid py-3 mb-3">
            <section class="light rejoindrecustom">
                <article>
                    <div>
                        <img src="/Images/join3.jpg" alt="" style="border-radius: 0 1rem 1rem 0;">
                    </div>
                    <div class="rejoindretext">
                        <div class="titrecustom">Rejoignez-nous</div>
                        <p>Vous desirez vivre cette belle aventure avec nous?</p>
                        <p class="yes">N'hesitez plus!</p>
                        <a class="custombtn mt-4" asp-controller="CompteAdA" asp-action="CreationCompte">Rejoindre</a>
                    </div>
                  
                </article>
            </section>
        </div>
          
                @*<div class="container-cardscontainer">
                    <div class="container-cardcontainer">
                        <div class="card">
                            <div class="contentleft">
                                <h2>Thierry</h2>
                                <p>La description de Thierry et sa production</p>
                                <a href="#">Lien vers la page de Thierry</a>
                            </div>
                            <img src="~/Images/Thierry.png" />
                        </div>
                    </div>
                    <div class="container-cardcontainer">
                        <div class="card">
                            <div class="contentright">
                                <h2>Thierry</h2>
                                <p>La description de Thierry et sa production</p>
                                <a href="#">Lien vers la page de Thierry</a>
                            </div>
                            <img src="~/Images/Thierry.png" />
                        </div>
                    </div>
                </div>

                <div class="container-cardscontainer">
                    <div class="container-cardcontainer">
                        <div class="card">
                            <div class="contentleft">
                                <h2>Thierry</h2>
                                <p>La description de Thierry et sa production</p>
                                <a href="#">Lien vers la page de Thierry</a>
                            </div>
                            <img src="~/Images/Thierry.png" />
                        </div>
                    </div>

                </div>*@
               
