@model Projet2.ViewModels.HomeViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inscription</title>
</head>
<body>
    <div>
    @Html.ActionLink("Creation Compte AdA", "CreationCompte", "CompteAdA")
    <br />

    @Html.ActionLink("Login", "Index", "Login")
    </div>
</body>
</html>