@model Projet2.ViewModels.HomeViewModel

    <div class = "container inscription">
    @Html.ActionLink("Creation Compte AdP", "CreationCompte", "CompteAdP")
    <br />
    <br />
    @Html.ActionLink("Creation Compte CE", "CreationCompte", "CompteCE")
    <br />
    <br />
    </div>