@model Projet2.ViewModels.HomeViewModel



<div class="container afternav">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Page Producteur</h1>
            <div class="justify-center">
                <table border="1">
                <tr>
                    <td>@Model.AdP.Id</td>
                    <td>@Model.AdP.NomProducteur</td>
                    <td>@Model.AdP.Description</td>
                    <td>
                        @Html.ActionLink("Retour Page Producteurs", "Producteurs", "Home")

                    </td>
                </tr>
                    

                </table>
            </div>
        </div>
    </div>
</div>
